mixin header(links)
	div.page-header
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href='/')
				h1 Qrent
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCont" aria-controls="navbarCont" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			
			div.collapse.navbar-collapse#navbarCont
				ul.navbar-nav.mr-auto
					each link , label in links
						li.nav-item
							a.nav-link(href=link) #{label}
				span
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href='/logout') Logout
	