doctype html
html
	head
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
			//- Materialize
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")

		script(src='../scripts/f_reservation.js')
		link(rel='stylesheet' type='text/css' href='../styles/style.css')
		title Home
		link(rel="icon" href="/qrent-logo.png")
	body

		h1 Welcome #{user}
	div.container
		div.row
			div.col.l4
				div.card.blue-grey.darken-1
					div.card-content.white-text
						span.card-title Service Provider
						div.divider
						h5.card-title Reminder
						p.card-text.text-white Make Sure to Approve or Decline Reservations, Don't keep Clients Waiting
			div.col.l4
				div.card.blue-grey.darken-1
					div.card-content.white-text
						span.card-title Statistics
						div.divider
						h5.card-title Total Items
						p.card-text You have #{totItems} item/s for rent
						a.text-blue(href="/console") Manage Them Here
			div.col.l4
				div.card.blue-grey.darken-1
					div.card-content.white-text
						div.card-title Statistics
						div.divider
						h5.card-title Pending Requests
						p.card-text You have #{totPending} Pending Reservation/s
						a.text-blue(href="/console/reservations") Manage Them Here