doctype html
html
	head
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src='../styles/bootstrap/dist/js/bootstrap.js')
		script(src='../scripts/f_reservation.js')
		link(rel='stylesheet' type='text/css' href='../styles/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' type='text/css' href='../styles/style.css')
		title Home
		link(rel="icon" href="/qrent-logo.png")
	body

		include header.pug
		+header({'Console' : '/console','Reservations' : '/console/reservations','Post Item' : '/postItem'})
		h1 Welcome #{user}
		div.card-deck.mx-auto
			div.card.bg-info
				div.card-header Service Provider
				div.card-body
					h5.card-title Reminder
					p.card-text.text-white Make Sure to Approve or Decline Reservations, Don't keep Clients Waiting
			div.card.bg-light
				div.card-header Statistics
				div.card-body
					h5.card-title Total Items
					p.card-text You have #{totItems} item/s for rent
					a.text-blue(href="/console") Manage Them Here
			div.card.bg-light
				div.card-header Statistics
				div.card-body
					h5.card-title Pending Requests
					p.card-text You have #{totPending} Pending Reservation/s
					a.text-blue(href="/console/reservations") Manage Them Here