<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Qrent</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/console">Your Items</a></li>
        <li><a href="/console/reservations">Reservations</a></li>
        <li><a href="/rentals">Rentals</a></li>
        <li><a href="/postItem">Post Item</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/console">Your Items/a></li>
    <li><a href="/console/reservations">Reservations</a></li>
    <li><a href="/rentals">Rentals</a></li>
    <li><a href="/postItem">Post Item</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>