doctype html
html
	head
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src='../scripts/f_reservation.js')
		script(src='../styles/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet' type='text/css' href='../styles/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' type='text/css' href='../styles/style.css')
		title Reservations
		link(rel="icon" href="/qrent-logo.png")
	body

		include header.pug
		+header({'Console' : '/console','Post Item' : '/postItem'})

		h1 Client Reservations

		div.container
			div.row
				div.col-2
				div.col-lg-8.col-sm-10
					div#content
					
					div#consoleNav.btn-group.btn-group-lg(role="group")
						button#backBtn.btn.btn-secondary Prev Page
						button#nextBtn.btn.btn-secondary Next Page

				div.col-2

		div.reservation#reservationTemplate.jumbotron
				h2.reservationTitle.card-title Item
				h4.reservationStatus Pending
				h7.requestDate dec
				h7.endDate jan
				h3.rentPrice 150
					span  PHP/DAY
				span Reserved By 
					a(class = "reservee" href = "#") profile
				div.resvBtn
					button#approve.btn-resv.shadow-sm.btn.btn-success Approve
					button#cancel.btn-resv.shadow-sm.btn.btn-danger Reject
