body {
    background-color: teal;
}

nav {
    background-color: teal;
}

a:hover {
    text-decoration: none;
}
.btn{
    background-color: black;
}

#alert {
    width: 100%;
    padding: 2vh;
}
#edit-form {
    width: 70%;
}

#login-form {
    padding: 3vh;
    width: 30%;
}

#logo {
    width: 50%;
    height: auto;
}

#registration-form {
    padding: 3vh;
    width: 80%;
}
