body{
    margin: 0;
    
}

h1{
    padding: 1rem;
    text-align: center;
}


.homeContainer{
    position: fixed;
    height: 40%;
    width: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 20px;
}

.btn-primary{
    background-color: #00695c;   
}

/*login*/
.loginContainer{
    padding: 2em;
    width: 28em;
    margin: 20vh auto;
    border: 1px solid #ccc;
    text-align: center;
}

.loginHeader{
    text-align: center; 
}

.loginTag{
    font-size: 40px;
    text-align: left;
    padding-left: 15%;
}

.btn-login{
    width: 50%;
    margin-top: 20px;
}

.signUpTag{
    font-size: 25px;
    text-align: left;
    padding-left: 15%;
}

#registerTag{
    padding: 2em;
}

/*register*/
.regContainer{
    padding: 2em;
    height: 100%;
    width: 40em;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5vh auto;
}

#qrentLogo{
    float: left;
    height: 5.5em;
    width: 5.5em;
}

#qrentTag{
    font-size: 55px;
    text-align: left;
}


/*Console*/
.btn-group btn-group-lg {
    margin-bottom: 20px;
}

.btn-home{    
    width: 50%;
    height: 50px;
    margin: 10px;
}




#filter{
    margin: 1rem auto;
}

.page-header {
    color: wheat;
    background-color: #37888e;
    padding: 10px;
    margin-bottom: 20px;
}

.page-header h1{
    color: wheat;
}

.qrent-link {
    text-decoration: none;
    color: #0B5351;
}

.qrent-link:hover {
    text-decoration: none;
    color: #0B5351;
}

.page-header li{
    border-radius: 2px;
    border: 1px solid #00000033;
    margin: 0 1rem;
    padding: 0 1rem;
    float: right;
}

.navbar-nav{
    display: block;
}

.nav-wrapper {
    background-color: #00695c;
}

.jumbotron {
    padding: 10px;
    margin: 1rem auto;
    position: relative;
    border: 1px solid #d2d2d2;
}

.btn-delete{
    border: 1px solid #d2d2d2;

}

.deleteForm{
    text-align: right;
    clear: both;
}

.page-header .pending{
    border: 2px solid green;
}

#content p {
    padding: 5px;
    border-radius: 2px;
    display: inline;
    margin: 2rem 0;
}

#content h7 {
    display: block;
}

#content h4 {
    display: inline;
    margin: 1rem;
    float: right;
}

#filterBtn{
    display: block;
    margin: 1rem auto;
}

input[type=checkbox]{
    transform: scale(1.3);
    background-color: white;
}

.form-check label{
    font-size: 1em;
}

#content h2 {
    display: inline;
}

#consoleNav{
    text-align: center;
    margin: 5vh auto;
    display: block;
}

/*Console Materialize*/

nav .brand-logo {
    font-size: 40px;
    color: white;
   padding-left: 30px;
}

.itemname {

}

.itemdesc {

}

.brandtitle{
 
}

.rptitle {

}

.itemstat {

}
/*postItem*/

textarea {
    resize: none;
}

.content-postItem {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    height: 100%;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    padding: 20px;
}

.postItemContainer{
    width: 90%;
    height: 100%;
    margin: 5vh auto;
    margin-bottom: 50px;
}


#postTag{
    font-size: 40px;
    text-align: center;
}

.postInput{
    padding-bottom: 20px;
    margin: 0 0 15px;
}

/*reservations*/
#reservationTemplate {
    display: none;
}

.resvBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem;
}

.btn-resv{
    display: inline;
    margin: .5rem;
    border: 1px solid #d2d2d2;
}

/* homepage */
.homeContainer {
    left: 55%;
    top: 45%;
    text-align: center;
}

.column {
    top:50%;
    text-align: center;
}

#button-cell{
    padding-top: 10%;
    width: 60%;

}



.card-deck{
    max-width: 70rem;
    padding: 1re
}

select {
    display: block;
}