.material-placeholder{
	width: 100%;
}

input[type="date"]:focus::-webkit-inner-spin-button,
input[type="date"]:focus::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}