.searchres-img{
	object-fit: scale-down;
	height: auto;
	width: 100%;
}

.material-icons{
	vertical-align: middle !important;
}
.page-nav a{
	margin: 2rem;
	font-size: 2em !important;
}

.filter-submit-cont{
	margin-top: 1rem;
}