#itemName {
	font-size: 50px;

}

#itemRentPrice {
	margin-top: 15px;
	font-size: 30px;

}

#itemBrand {
	font-size: 35px;

}

#itemDesc {
	font-size: 20px;

}

#itemCondition {
	margin-top: 10px;
	font-size: 20px;
}

#itemReview a{
	position: static !important;
}

.divider {
	margin: 5px;
}

.itemBtn {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.itemBtn button{
	position: static !important;
}

#reserve-title {
	padding-top: 20px;
	margin-top: 20px;
}

.form-header{
	height: 10vh;
}

.form-header img{
	height: 100%;
	width: auto;
}

.form-header h2{
	display: inline;
}

.materialboxed{
	z-index: 9999999;
}

a{
	color: #00796b;
}

.material-icons{
	vertical-align: middle !important;
}

.page-nav a{
	margin: 2rem;
	font-size: 2em !important;
}

.filter-submit-cont{
	margin-top: 1rem;
}

#cancel-modal{
	padding: 2rem;
}

#register-form {
    width: 70%;
    margin-top: 2rem;
}

#edit-form {
	margin-top: 5%;
    width: 70%;
}

.featured-slider{
	height: 60vh !important;
}

.featured-slider img{
	object-fit: fill;
}

.featured-title {
	background-color: rgba(0,0,0,.3);
	width: 100%;
}